
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

#splash-left {
  float: left;
  width: 56%;
}

#splash-right {
  float: right;
  width: 40%;
}

.guest-login {
  cursor:pointer;
}
.guest-login:hover {
  color: #F5D04C;
}

.welcome-box-image {
  background-image: url("https://lisamulch.files.wordpress.com/2011/06/img_8930.jpg");
  background-size: 1600px 500px;
  text-align: center;
  height: 320px;
  width: 100%;
  margin: auto;
  padding: 0;
  border: 1px solid #d3d3d3;
  z-index: 0;
}

.welcome-box {
  width: 100%;
  padding: 0 0;
  height: 100%;
  margin: auto;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  z-index: 5;
  background: rgba(255, 255, 255, .5);

}

 #map {
  width: 100%;
  min-width:300px;
  height: 100%;
  position: relative;
 }

 .main-container {
   padding-top: 10px;
   padding-left: 20px;
   padding-right: 20px;
 }

 .map-container {
  min-width: 300px;
  width:48%;
  max-width:800px;
  height: 400px;
  position: fixed;
  float:right;
  transform:translateX(100%);
 }

 .map2-container {
  width: 48%;
  min-width: 400px;
  height: 400px;
  float: right;
  position: relative;
 }

.store-business-info {
  float: right;
}

.in-form {
  width: 300px;
  height: 50%;
  margin: auto;
}

.redirect-form {
  width: 300px;
  height: 50%;
  margin: auto;
}

.page-header {
  margin: auto;
}

.store-info {
  width: 265px;
  padding-left: 20px;
}

.store-info > li {
  width: 265px;
  height: 44px
}

.store-hours {
  padding-top: 20px;
  padding-left: 40px;
}

.store-hours > li {
  width:200px;
  height: 44px
}


#store-index-left {
  min-width:300px;
  max-width:800px;
  float:left;
}
.add-more-button {
  margin-top: 100px;
  margin-bottom: 50px;
  float:right;
  position: relative;
}

.stores-list {
  width: 100%;
}

.info-attr {
  width: 220px;
}
.info-value {
  float: right;
  position: relative;
}

.store-hours {
  width: 220px;
}

.time {
  float: right;
  position: relative;
}

.store-index-item {
  min-height: 150px;
  min-width: 180px;
  max-width: 750px;
}
.store-index-name:hover{
  cursor:pointer;
  text-decoration: underline;
}
.store-index-item-logo {
  cursor:pointer;
  float: left;
  left: -20px;
  position: relative;
  max-height: 140px;
  max-width: 140px;
}

.store-index-item-info {
  float: left;
  width: 190px;
  height:100%;
}
.store-index-item-basic-info {
  cursor:pointer;

}

.reviews-index {
  min-width: 200px;
  width: 70%;
  float: left;
}

.review-store-name {
  cursor:pointer;
}

.error-indv {
  color: #800020;
  width: 400px;
  height: 50%;
  margin: auto;
}
.rating {
  position: relative;
  color: gold;
  font-language-override: normal;
  height: 1em;
  display: inline-block;
  font-size: 15px;
  font-family: sans-serif;
}

.rating:before {
  display: block;
  position: absolute;
  top: 0; left: 0;
  content: '★★★★★';
  color: #eee;
  z-index: 0;
}

.rating:after {
  display: block;
  position: relative;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
  z-index: 1;
}

.rating[data-stars='0.0']:after { width: 0 }
.rating[data-stars='0.1']:after { width: 2% }
.rating[data-stars='0.2']:after { width: 4% }
.rating[data-stars='0.3']:after { width: 6% }
.rating[data-stars='0.4']:after { width: 8% }
.rating[data-stars='0.5']:after { width: 10% }
.rating[data-stars='0.6']:after { width: 12% }
.rating[data-stars='0.7']:after { width: 14% }
.rating[data-stars='0.8']:after { width: 16% }
.rating[data-stars='0.9']:after { width: 18% }

.rating[data-stars='1.0']:after { width: 20% }
.rating[data-stars='1.1']:after { width: 22% }
.rating[data-stars='1.2']:after { width: 24% }
.rating[data-stars='1.3']:after { width: 26% }
.rating[data-stars='1.4']:after { width: 28% }
.rating[data-stars='1.5']:after { width: 30% }
.rating[data-stars='1.6']:after { width: 32% }
.rating[data-stars='1.7']:after { width: 34% }
.rating[data-stars='1.8']:after { width: 36% }
.rating[data-stars='1.9']:after { width: 38% }

.rating[data-stars='2.0']:after { width: 40% }
.rating[data-stars='2.1']:after { width: 42% }
.rating[data-stars='2.2']:after { width: 44% }
.rating[data-stars='2.3']:after { width: 46% }
.rating[data-stars='2.4']:after { width: 48% }
.rating[data-stars='2.5']:after { width: 50% }
.rating[data-stars='2.6']:after { width: 52% }
.rating[data-stars='2.7']:after { width: 54% }
.rating[data-stars='2.8']:after { width: 56% }
.rating[data-stars='2.9']:after { width: 58% }

.rating[data-stars='3.0']:after { width: 60% }
.rating[data-stars='3.1']:after { width: 62% }
.rating[data-stars='3.2']:after { width: 64% }
.rating[data-stars='3.3']:after { width: 66% }
.rating[data-stars='3.4']:after { width: 68% }
.rating[data-stars='3.5']:after { width: 70% }
.rating[data-stars='3.6']:after { width: 72% }
.rating[data-stars='3.7']:after { width: 74% }
.rating[data-stars='3.8']:after { width: 76% }
.rating[data-stars='3.9']:after { width: 78% }

.rating[data-stars='4.0']:after { width: 80% }
.rating[data-stars='4.1']:after { width: 82% }
.rating[data-stars='4.2']:after { width: 84% }
.rating[data-stars='4.3']:after { width: 86% }
.rating[data-stars='4.4']:after { width: 88% }
.rating[data-stars='4.5']:after { width: 90% }
.rating[data-stars='4.6']:after { width: 92% }
.rating[data-stars='4.7']:after { width: 94% }
.rating[data-stars='4.8']:after { width: 96% }
.rating[data-stars='4.9']:after { width: 98% }

.rating[data-stars='5.0']:after { width: 100% }


.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 17px;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #eee;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: gold;
  text-shadow: #eee;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #eee;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: gold;
  text-shadow: #eee;
}

.navbar-default {
  background-color: #F5D04C;
}

.navbar-list {
  list-style-type:none;
  float: right;
  padding: 19px;
  right: 15px;
  font-size: 20px;
  min-width: 200px;
}
.nav-left {
  float:left;
}

.navbar-list > li {
  padding: 10px 20px;
  float: left;
}

.location-search {
  width: 300px;
  position:relative;
  float: right;
}
.search-bar {
  width: 350px;
  position:relative;
  float: right;
}

.location-form {
  width: 200px;
}

.location-locations {
  top: 44px;
  display: none;
  position: absolute;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  z-index: 5;
}

.locations-display {
  display: block;
}

.location-locations > li {
  width: 174px;
  color: #000;
  list-style-type:none;
}


.location-locations > li:hover {
  cursor:pointer;
}
@import url(https://fonts.googleapis.com/css?family=Pacifico);

#logo {
  top: -7px;
  margin: 0 auto;
  width: 80px;
  position: relative;
  padding: 0;
  height: 80px;
  background: #0f006f;
  border-radius: 100%;
  text-align: center;
  cursor:pointer;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#logo:hover {
  margin: 0 auto;
  width: 80px;
  position: relative;
  padding: 0;
  height: 80px;
  background: #0f006f;
  border-radius: 100%;
  text-align: center;
  cursor:pointer;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 2;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#logo #marker {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 0;
  top: 0.3rem;
  left: -0.0rem;
  width: 63px;
  height: 60px;
  border: 3px solid rgba(255,255,255,.7);
  border-radius: 100%;
  position: relative;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count:1;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#logo #marker p {
	margin: 0;
  padding: 0;
  top: 0.8rem;
  left: -0.4rem;
  font-size:2.4rem;
  color: rgba(255,255,255,.7);
  text-align: center;
  font-family: 'Pacifico', cursive;
  border-radius: 100%;
  line-height: 41px;
	position: relative;
  animation: blink 20s infinite alternate;
  -webkit-animation: blink 20s infinite alternate;
}

#logo #output {
   font-family: 'Lato', sans-serif;
   font-size: 1.0em;
   font-weight: bold;
   color: #1a1a1a;
   margin-top:0.8em;
}

#logo #descrip {
   font-family: 'Lato', sans-serif;
   font-size: 0.7em;
   font-weight: bold;
   color: #1a1a1a;
   margin-top:5px;
}


@-webkit-keyframes blink {
  0% {
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.5);
  }

  50% {
    text-shadow: 0px 0px 2000px rgba(255, 0, 0, 0.5);
  }

  100% {
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0);
  }
}

@keyframes blink {
  0% {
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.5);
  }

  50% {
    text-shadow: 0px 0px 2000px rgba(255, 0, 0, 0.5);
  }

  100% {
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0);
  }
}

@-moz-keyframes blink {
  0% {
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.5);
  }

  50% {
    text-shadow: 0px 0px 2000px rgba(255, 0, 0, 0.5);
  }

  100% {
    text-shadow: 0px 0px 0px rgba(255, 0, 0, 0);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
}



.group:after {
  content: "";
  display: block;
  clear: both;
}
