<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="padding-left: 48%">
      <a class="navbar-brand" href="/" >
        <font color="#0f006f">
          <div id="logo">
            <div id="marker">
              <p>Rec'd</p>
            </div>
          </div>
        </font>
      </a>
    </div>
  </div>
</nav>
<div class="error-indv">
  <%= flash_errors %>
</div>
